


.navbar .container{
  justify-content: space-around !important;
}



.nav-link:hover{
  border-bottom: 1px white solid;
  font-weight: 700;
}


@media only screen and (max-width:1000px){
  .navbar .container{
    justify-content: space-between !important;
  }
}