/* pc hero section styling */

.hero__section__content__container{
 
}

.hero__section__header__container{
  width: 27rem;
}

.hero__section__custom__btn__styling{
  border-radius: 20px !important;
}


@media only screen and (max-width:700px){

  .hero__section__header__container{
    width: auto;
  }

  .main__mobile__heading__text__styling{
    width: 19rem;
  }
}